<!DOCTYPE html>
<html><body>

<h2>Create an Article</h2>
<br>
<form method= "post" action= "/articles" >
  <label for = "title">title:</label>
  <input id="title" type = "text" name="article[title]">
  <br>
  <label for = "content">content:</label>
  <input id ="content" type = "content" name="article[content]">
<br>
<input type= "submit" value= "Submit">
</form>






</body></html>
