<h1>Create an Article</h1>
<form method="post" action="/articles">
  <label for="title">Title:</label>
  <input id="title" name="title" type="text" />
  <label for="content">Content:</label>
  <input id="content" name="content" type="textarea" />
  <input type="submit" value="submit" />
</form>
