<h1>New Article</h1>
<form action="/articles" method="post">
  <label for="name">Title</label>
  <input type="text" name = "title">
  <br>
  <br>
  <label for="name">Content</label>
  <br>
  <br>
  <input type="text" name = "content">
  <br>
  <br>
  <input type="submit" value = "Submit">
</form>