<h1>Create an Article</h1>
<form action="/articles" method="post">
    <label for="title">Article Title:</label>
    <input type="text" id="title" name="article[title]"></input>

    <label for="content">Article Content:</label>
    <input type="text" id="content" name="article[content]"></input>   

    <input type="submit" id="submit">






</form>