<h1>Create a New Article!</h1>

<form action="/articles" method="POST">
  <label for="article[title]">Title:</label>
  <input id="title" name="article[title]" type="text"><br><br>
  <label>Content:</label><br>
  <textarea id="content" name="article[content]"></textarea><br><br>
  <button type="submit">Submit</button>
</form>