<!DOCTYPE html>
<head>
    <title>Articles</title>
</head>

<body>
<h1>Create a New Article</h1>
<form action="/articles" method="post">
    <label  for="title">Your Article Title:</label>
    <input type="string" id="title" name="title">
    <br>
    <br>
    <label  for="content">Your Article:</label>
    <textarea id="content" name="content" rows="4" cols="50"></textarea>
    <br>
    <br>
    <input type="submit">
</form>
</body>

</html>